// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

body.active_admin {
  @include sans-family;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  margin: 0;
  padding: 0;
  color: $text-color;

  table.student {
    thead th { text-align: center; }
    td {
      max-width: 100px; text-align: center; padding-top: 20px;
      &.top { padding-top: 10px; padding-bottom: 10px; }
      &.double_line { padding-top: 10px; }
      &.picture { line-height: 0; img { height: 80px; width: 80px; } }
      &.name span { display: block; line-height: 1.5em;
        &.strong { font-weight: bold; font-size: 1.1em; }
        &.blended { font-weight: lighter; color: #666666; }
      }
    }
  }

  //&.parent_namespace {
    #header { background: #efefef; border: none; @include box-shadow(none);  }
    #title_bar { border-top: none; @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.37)); }
    #header {
      > #tabs { display: none; }
      #site_title, #utility_nav > li > a, #utility_nav > li > a:hover { color: #8a949e; text-shadow: #fff 0 1px 0;
        background: transparent;
      }
    }
    .breadcrumb { display: none; }
  //}
}
